<div class="event-view-container">
  <div>
    <a class="lien-retour" href="javascript:void(0)" (click)="onNavigate('/billetterie/view')">
    <i class="fa-solid fa-arrow-left fa-fw"></i> Retour vers la billeterie</a>
  </div>

  <div class="container" id="quickview-container">
    <div class="container" id="thumbnail_container">
      <img id="event_thumbnail" [src]="event.thumbnail" alt="event thumbnail">
    </div>

    <div class="container" id="text_container">
      <h2 class="title montserrat">{{event.title.toUpperCase()}}</h2>
      <p><i class="fa-solid fa-quote-left fa-fw"></i>{{event.description }}</p>
      <!-- Heure -->
      <p>
        <i class="fa-solid fa-calendar fa-fw"></i>
        {{(event.dateEvent | date:'EEEE d MMMM y HH:mm')}} (heure de Paris)
      </p>
      <!-- Lieu -->
      <p><i class="fa-solid fa-location-dot fa-fw"></i>{{event.event_place}}</p>


      <div *ngIf="is_billetterie" class="details_container" id="details_billetterie">
        <div class="infos-container">
          <p class="details"> Cet évènement {{event.on_sale ? "est en vente" : "n'est plus en vente"}} </p>
          <p id="pole"> Proposé par : {{pole}} </p>

          <p *ngIf="event.dateEvent_end" class="details">
            Date de la fin de l'évènement: {{(event.dateEvent_end | date:'EEEE d MMMM y, HH:mm')}}
          </p>
          <p> Nombre de places disponibles :  {{event.num_places}}</p>
          <p> Points de l'évènement : {{event.points}} </p>
          <p> Prix cotisants : <b>{{event.cost_contributor}}€</b></p>
          <p> Prix non cotisants : <b>{{event.cost_non_contributor}}€</b></p>
          <p class="small_infos">
            Ouverture prévue de la billetterie: {{ event.date_open | date:'EEEE d MMMM y, HH:mm'}}<br/>
            Fermeture prévue de la billetterie: {{ event.date_close | date:'EEEE d MMMM y, HH:mm'}}<br/>
          </p>
          <div *ngIf="on_sale">
            <div [ngSwitch]="buttonToDisplay()" class="sale-btn-container">
              <button *ngSwitchCase="1" class="btn btn-success purchase-button"
                      (click)="onClaimePlace(event.event_id, 1)">
                Réserver un billet
              </button>
              <button *ngSwitchCase="2" class="btn btn-success purchase-button"
                      (click)="onDeClaimePlace(event.event_id)">
                Retirer ma réservation
              </button>
            </div>
          </div>

        </div>
      </div>


      <!-- Pour les events hors billetterie -->
      <div *ngIf="!is_billetterie" class="details_container" id="details_event">
        <div class="infos-container">
          <p *ngIf="event.event_place" id="lieu" class="details"> Lieu de l'évènement : {{event.event_place}} </p>
          <p *ngIf="event.dateEvent" id="date" class="details"> Date de l'évènement
            : {{(event.dateEvent | date:'EEEE d MMMM y HH:mm')}} (heure de Paris) </p>
          <p *ngIf="event.dateEvent_end" class="details"> Date de la fin de
            l'évènement: {{(event.dateEvent_end | date:'EEEE d MMMM y HH:mm')}} </p>
          <p *ngIf="event.num_places" id="num_places" class="details"> Nombre de places displonibles
            :  {{event.num_places}}</p>
          <p *ngIf="event.cost_contributor" id="prixC" class="details"> Prix cotisants : {{event.cost_contributor}}
            €</p>
          <p *ngIf="event.cost_non_contributor" id="prixNC" class="details"> Prix non cotisants
            : {{event.cost_non_contributor}} €</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isAuth" id="noauth">
    <i><a href='/login/'>Connectez-vous ou créez un compte</a> pour pouvoir acheter des billets !</i>
  </div>

  <!-- Section admin -->
  <div *ngIf="isAdmin && isAuth" id="admin-section">
    <h3>Section admin</h3>
    <div class="admin-buttons">
      <button *ngIf="is_billetterie" id="modifyB_buttoon" class="btn btn-success admin-btn"
              (click)="onNavigate('billetterie/modify/' + event.event_id)"> Modifier cette billetterie
      </button>
      <button *ngIf="!is_billetterie" id="modifyE_buttoon" class="btn btn-success admin-btn"
              (click)="onNavigate('events/modify/' + event.event_id)"> Modifier cet évènement
      </button>
      <button *ngIf="is_billetterie && on_sale" id="closeB_buttoon" class="btn btn-success admin-btn"
              (click)="onCloseBilletterie()"> Retirer de la vente cette billetterie
      </button>
      <button *ngIf="is_billetterie && !on_sale" id="openB_buttoon" class="btn btn-success admin-btn"
              (click)="onReSaleBilletterie()"> Remettre en vente cette billetterie
      </button>
    </div>

    <div class="purchase_container" >
      <table style="text-align: center;" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th colspan="7">Places attribuées ({{placesAccepted.length}}/{{event.num_places}})
            <button *ngIf="is_billetterie" id="get-emails" class="btn btn-success"
                    (click)="getEmailsParticipants()">Récupérer les mails des participants (presse-papier)
          </button></th>
        </tr>
        <tr>
          <th>Login</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Cotisant</th>
          <th>Points sans place</th>
          <th>Points avec place</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let place of placesAccepted">
          <td>{{place.login}}</td>
          <td>{{this.usersInfos[place.login][0]}}</td>
          <td>{{this.usersInfos[place.login][1]}}</td>
          <td>{{place.contributor ? "Oui" : "Non"}}</td>
          <td>{{(place.points - (event.points ? event.points : 0) - (place.size - 1))}}</td>
          <td>{{place.points}}</td>
          <td>
            <button class="btn btn-outline-danger" (click)="onRetirePlace(place)"> Retirer la place</button>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="text-align: center;" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th colspan="4">Places refusées</th>
        </tr>
        <tr>
          <th>Login</th>
          <th>Cotisant</th>
          <th>Points</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let place of placesRejected">
          <td>{{place.login}}</td>
          <td>{{place.contributor ? "Oui" : "Non"}}</td>
          <td>{{place.points}}</td>
          <td *ngIf="placesAccepted.length < (event.num_places ? event.num_places : 0)">
            <button class="btn btn-outline-success" (click)="onGivePlace(place)"> Attribuer une place</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
