@import 'variables';

$hamburger-height: 20px;
$hamburger-thickness: 3px;
$hamburger-spacing: calc((#{$hamburger-height} - 3*#{$hamburger-thickness})/2);

#mobile-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-hamburger.active {
  // glue it
  position: fixed;
  top: 10px;
  right: 10px;
}

#mobile-hamburger span {
  display: block;
  width: 100%;
  border-radius: 1px;
  height: $hamburger-thickness;
  background: $header-text-color;
  transition: all .3s;
  position: relative;
  z-index: 40;
}

#mobile-hamburger > div {
  // inner
  width: $hamburger-height;
  height: $hamburger-height;
}

#mobile-hamburger span + span {
  margin-top: $hamburger-spacing
}
