<header>

  <div class="navbar">
    <a class="nav-item nav-link" (click)="onNavigate('default', true)">Accueil </a>
    <a class="nav-item nav-link" (click)="onNavigate('billetterie/view', true)"> Billetterie</a>
    <a class="nav-item nav-link" (click)="onNavigate('masterclass', false)">Masterclass</a>
    <a class="nav-item nav-link" (click)="onNavigate('team/view', true)">Équipe</a>
    <!--<a *ngIf="!isAuth" class="nav-item nav-link" id="adminLink" (click)="onNavigate('login', false)">
      Administration</a>
    <a *ngIf="isAuth && account.admin" class="nav-item nav-link" id="adminLink" (click)="onNavigate('admin', false)">
      Gestion</a>-->
  </div>

  <img id="logo" alt="logo"
       src="/assets/img/const/BDA_logo_large.png"
       (click)="onNavigate('default', false)">

  <app-user-infos></app-user-infos>
</header>
