@import 'variables';
@import 'hamburger.scss';

header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  flex-wrap: wrap;
  justify-content: center;
  /*margin: 10px $header-left-margin;*/
  min-height: 200px !important;
  color: white;
  font-size: 15px;
  background-color: #2f2f2f;
}

.container-fluid {
  padding: 0
}



// central logo

#logo {
  height: $logo-height;
  width: $logo-width;
  /* pour pouvoir le centrer sur la page */
  position: absolute;
  left: 1vw;
  top: 0;
  cursor: pointer;
}

// navigation links, underlining

.navbar a, .nav-item {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 25px;
  border-left: solid 2px white;
}
.navbar a:first-child {
border: none;
}


$link-animation-time: .3s;
.navbar a:after {
  content: '';
  height: 1px;
  bottom: -5px;
  margin: 0 auto;
  width: 100%;
  background: $header-text-color;
  -o-transition: $link-animation-time;
  -ms-transition: $link-animation-time;
  -moz-transition: $link-animation-time;
  -webkit-transition: $link-animation-time;
  transition: $link-animation-time;
  transition-timing-function: ease-in-out;
}

.navbar a:hover:after, .nav-item:hover:after {
  width: 10%;
}


/// ----- mobile

#mobile-full-screen-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 20;
}

#mobile-full-screen-menu.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in, visibility 250ms ease-in;
  transition: opacity 250ms ease-in, visibility 250ms ease-in;
}

#mobile-full-screen-menu.shown {
  // transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out, visibility 250s ease-out;
  transition: opacity 250ms ease-out, visibility 250ms ease-out;
  opacity: 100%;
}

@keyframes fadeOut {
  0%   {opacity: 1.0; z-index: 20}
  99% {opacity: 0.0; z-index: 20}
  100% {opacity: 0.0; z-index: -1}
}

#mobile-menu-inner {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#mobile-menu-inner > a {
  font-size: 1.8em;
}

@media screen and (min-width: $header-mobile-limit) {
  #mobile-wrapper {
    display: none;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: $header-mobile-limit) {
  .navbar, header > app-user-infos {
    display: none;
    height: 0;
    width: 0;
  }

  header {
    min-height: calc(#{$header-height}/2);
    margin: 10px;
  }
  #logo {
    left: 0;
    height: calc(#{$logo-height}/2);
    top: 0;
    width: auto;
  }

  #mobile-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #mobile-hamburger {
    height: calc(#{$header-height}/2);
    width: 50px;
    z-index: 30;
  }
}

header > app-user-infos {
  position: absolute;
  right:0;
}

button {
  background: transparent !important;
  border: none !important;
  color: white;
}