header {
    display: flex;
    flex-direction : column;
    // align-items: center;
    
    color: white;
    // padding: 0.2rem 2%;
    margin: 0 0 1vmin 0;
    padding :0;
  }



  #container-logbar {
    display: flex; 
    color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content : space-between;
    margin-bottom : 0%;
    margin-top : 0;
    min-height: 8vh;

  }

  .container-fluid { padding : 0}
  
  app-user-infos {   
    margin : 0;  
    width : 20%;
    min-height : 8vh;
    background-color: lightgrey;
   
  }

  #title {
    font-size : 6vmin;
    text-align : center;
    margin-bottom: 1vmin;
    max-height: 5vmin;
    transform : translateY(3vmin);
  }

  #logo {
    max-width: 6vmin;
    max-height: 6vmin;
    margin : 1vmin 0 0 3vmin
  }

  .navbar-brand {
    margin-left : 1rem
  }

  .navbar-nav a{
    color : white
  }

  #adminLink {
    color : rgba(255, 255, 255, 0.596)
  }

  a {
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
  
  .active {
    background-color: #6eb5ff;
    color: white;
    padding: 0.3rem 0.5rem;
  }
  
