@import 'variables';

header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px $header-left-margin;
  min-height: $header-height;
  color: $header-text-color;
  font-size: 15px;
}

.container-fluid {
  padding: 0
}

// central logo

#logo {
  height: $logo-height;
  width: $logo-width;
  /* pour pouvoir le centrer sur la page */
  position: absolute;
  left: calc(50vw - #{$logo-width} / 2 - #{$header-left-margin});
  cursor: pointer;
}

// navigation links, underlining

.navbar a {
  padding: 0;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  font-size: 18px;
}

$link-animation-time: .3s;
.navbar a:after {
  position: absolute;
  content: '';
  height: 1px;
  bottom: -5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: $header-text-color;
  -o-transition: $link-animation-time;
  -ms-transition: $link-animation-time;
  -moz-transition: $link-animation-time;
  -webkit-transition: $link-animation-time;
  transition: $link-animation-time;
  transition-timing-function: ease-in-out;
}

.navbar a:hover:after {
  width: 10%;
}



