<div *ngIf="!isAuth" class="container-fluid">
  <button (click)='onNavigate("login", false)'
          class="btn-11">Se connecter
  </button>
</div>

<div *ngIf="isAuth" class="container-fluid connected-user-info">
  <div>
    <div class="flex-filler"></div>
    <span>{{account.login}}</span>
    <span><a [routerLink]="" id="view-account" (click)="onNavigate('account/view', true)">
      Mon Compte
    </a></span>
    <span><a [routerLink]="" id="signout" (click)="onDisconnect()">
      Déconnexion
    </a></span>
  </div>

  <img id="profil_pic"
       src="{{'https://eleves.mines-paris.eu/static/img/trombi/' + account.login + '.jpg'}}"
       onerror="this.src='/assets/img/const/defautUserImage.jpg';">
</div>
