@import 'variables';

// Not connected
:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bda-btn {
  width: 180px;
  height: 70px;
  font-size: 18px;
  font-weight: 300;
}

// connected

.connected-user-info {
  display: flex;
  flex-direction: row;

  $img-border: 3px;
  $img-padding: 5px;

  // image de profil
  img {
    border: $img-border solid $header-text-color;
    height: calc(#{$logo-height} - 2 * (#{$img-border} + #{$img-padding}));
  }
}

// info utilisateur et liens
.connected-user-info > div {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 15px;
  span {
    font-weight: 300;
    // padding-top: 5px;
  }

  span:first-of-type {
    // username
    font-size: 150%;
    font-weight: bold;
    padding-top: 0;
    margin-bottom: -3px;
  }
}


