
.container-fluid { 
  display : flex;
  flex-direction: row;
  justify-content : space-between;

  background-color: whitesmoke;
  min-height : 8vh;
}

.column {
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-end;
}

p { 
  margin : 0 1vmin 0vmin 0;
}

#welcome {font-size : 2.3vmin}

a {
    color: black;  
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
  
.active {
  background-color: #6eb5ff;
  color: white;
  padding: 0.3rem 0.5rem;
}
  
#login {
  font-size : 2.5vmin;
}

#signin, #view-account {
  text-decoration: underline;
  font-size : 1.8vmin;
}

#signout {
  text-decoration: underline;
  font-size : 1.8vmin;
}


#profil_pic {
  height: 10vh;
  margin: 1vh;
  padding: 0;
  aspect-ratio: 0.9;
}


@media only screen and (max-width: 800px) {

  #signin, #view-account, #signout {
    text-decoration: underline;
    font-size : 2vmax;
  }

  .container-fluid {
    justify-content: space-evenly;
  }

  .column {
    align-items: center;
  }

  #welcome {display :none}

  
}