<footer>
  <div class="sponsor-container">
      <p> En partenaria avec</p>
    <!-- <p>&copy 2013 - Organisation</p> -->
    <a target="_blank" href ="https://www.caisse-epargne.fr/ile-de-france/particuliers/partenariats/offre-campus-2021">
      <img class = "sponsor" alt="sponsor Caisse d'épargne" src = "../../assets/img/const/caisse-depargne.png"> 
    </a>
  </div>
  <div class="social">
    <a class="support" (click) = "onNavigate('contact-us')"> Nous contacter</a>
    <a target="_blank" href="https://www.facebook.com/MontmArtre-BDA-Mines-de-Paris-105871631597481" class="face" >facebook</a>
    <a target="_blank" href="https://mines-paris.eu/" class="tweet">Portail des élèves</a>
  </div>
</footer> 