<footer>
  <div class="sponsor-container">
    <span>En partenariat avec</span>
    <!-- TODO: fix link -->
    <a target="_blank" href="https://www.caisse-epargne.fr/ile-de-france/particuliers/partenariats/offre-campus-2021">
      <img class="sponsor" alt="sponsor Caisse d'épargne"
           src = "../../assets/img/const/caisse-depargne.png">
    </a>
  </div>

  <div class="flex-filler"></div>

  <div id="follow-container">
    <div>Nous suivre</div>
    <div class="social">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100079502718662"><i class="fa-brands fa-facebook"></i></a>
      <a target="_blank" href="https://www.instagram.com/wond.artland/"><i class="fa-brands fa-instagram"></i></a>
      <a target="_blank" href="https://www.youtube.com/channel/UCTEvOYiielJLjU_p7COkGfA"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
  <img src="/assets/img/var/wondartland_logo.png" id="logo-liste"/>
  <a href="https://eleves.mines-paris.eu/">
    <img src="/assets/img/const/BDE_logo_large.jpg" id="logo-bde"/>
  </a>
  <a href="https://www.minesparis.psl.eu/">
    <img src="/assets/img/const/mines_logo_large.png" id="logo-mines"/>
  </a>
</footer>
