@import 'variables';

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $footer-bg;
  padding: $footer-padding;
  font-size: 1.1rem;
  font-weight: 300;
  align-items: center;
}

/* layout */
footer > * {
  margin-right: 15px;
}

footer > :last-child {
  margin-right: 0;
}

/* sponsor */
.sponsor-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sponsor-container > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-style: italic;
}

.sponsor-container img {
  width: min(350px, 90vw);
  height: auto;
}

/* social media */
#follow-container > div:first-child {
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
}

.social {
  display: flex;
  flex-direction: row;
}

.social a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 0 7px;
  color: inherit;
  text-decoration: none;
}

/* image links */
$image-height: calc(#{$footer-height} - 2*#{$footer-padding});
img.sponsor, #logo-liste, #logo-bde, #logo-mines {
  height: $image-height;
  width: auto;
}


/// ----- mobile


@media screen and (max-width: $footer-mobile-limit) {
  footer {
    flex-direction: column;
  }

  footer > * {
    margin-right: 0;
    text-align: center;
  }

  footer > .flex-filler {
    height: 15px;
  }
}
