<footer>
  <div class="sponsor-container">
    <span>En partenariat avec</span>
    <a target="_blank" href="https://www.caisse-epargne.fr/">
      <img class="sponsor" alt="sponsor Caisse d'épargne"
           src = "../../assets/img/const/caisse-depargne.png">
    </a>
  </div>

  <div class="flex-filler"></div>

  <div id="follow-container">
    <div>Nous suivre</div>
    <div class="social">
      <a target="_blank" href="https://www.facebook.com/poudlart.bda"><i class="fa-brands fa-facebook"></i></a>
      <a target="_blank" href="https://www.instagram.com/poudlart_bda/?hl=fr"><i class="fa-brands fa-instagram"></i></a>
      <a target="_blank" href="https://www.youtube.com/@PoudlartBDA/featured"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
  <img src="/assets/img/var/logo_poudlart.png" id="logo-liste"/>
  <!--<a href="https://eleves.mines-paris.eu/">
    <img src="/assets/img/const/BDE_logo_large.jpg" id="logo-bde"/>
  </a>
  <a href="https://www.minesparis.psl.eu/">
    <img src="/assets/img/const/mines_logo_large.png" id="logo-mines"/>
  </a>-->
</footer>
