<div id="container-info-register">

  <!-- <markdown [src]="'/assets/doc/markdown/infos-register.md'"> </markdown> -->

  <form [formGroup]="texteLuForm">
  <div class="form-check">
    <input class="form-check-input" (click)="OnChangeTextLu()" type="checkbox" value="" id="texteLu">
    <label class="form-check-label" for="acceptCharte">
        J'ai bien lu et compris ces informations
    </label>
  </div>  
  </form>
</div>
  

<div id="container-info-connection" style="display: flex; margin: auto;">
  <div class="alert alert-success signal-response-registerForm" role="alert" *ngIf="texteLu">
    <p>Voici tes identifiants</p>
    <p> <b> Login </b> : {{login}} </p>
    <p> <b> Mot de passe </b> : {{password}} </p>
    <p> Un email t'as été envoyé pour vérifier l'adresse mail que tu as entré, ainsi qu'un email contenant tes informations de connexion </p>
    <button class="btn btn-outline-success" id="btn-before-redirection"  
            (click)="onRedirectionLogin()" *ngIf="texteLu">J'ai bien noté mes identifiants</button>
  </div>
</div>


  