#container-info-register {
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
}

#container-info-connection {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 50%;
}