<!-- <div id="container-info-register">

  <markdown [src]="'/assets/doc/markdown/infos-register.md'"> </markdown>

  <form [formGroup]="texteLuForm">
  <div class="form-check">
    <input class="form-check-input" (click)="OnChangeTextLu()" type="checkbox" value="" id="texteLu">
    <label class="form-check-label" for="acceptCharte">
        J'ai bien lu et compris ces informations
    </label>
  </div>  
  </form>
</div> -->
  

<div id="container-info-connection" style="display: flex; margin: auto;">
  <div class="alert alert-success signal-response-registerForm" role="alert">
    <p> <b> Voici ton login </b> : {{login}} </p>
    <p> Un email t'as été envoyé pour vérifier l'adresse mail que tu as entrée </p>
    <button class="btn btn-outline-success" id="btn-before-redirection"  
            (click)="onRedirectionLogin()">J'ai bien noté mon login </button>
  </div>
</div>


  