<h2 class="titre-page-changeForm"> Changer mes informations </h2>
<div class="alert alert-warning" role="alert">
  Attention : vous pouvez changer vos informations mais votre login restera identique.
  En cas de besoin de changement de login, merci de contacter un administrateur.
</div>
<div class="col-sm-8 offset-sm-2 mt-2">
  <form [formGroup]="changeForm">
    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input type="text" id="prenom" formControlName="prenom" class="form-control" [(ngModel)] = "prenom">
    </div>
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" formControlName="nom" class="form-control" [(ngModel)] = "nom">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" class="form-control" [(ngModel)] = "email" >
        <span class="help-block" style = "color: red;" *ngIf="!changeForm.get('email')!.valid && changeForm.get('email')!.touched">
            Email is invalid
       </span>
    </div>
    <div class="form-group">
      <label for="emailBis">Vérification email</label>
      <input type="text" id="emailBis" formControlName="emailBis" class="form-control" [(ngModel)] = "email">
      <span class="help-block" style = "color: red;" *ngIf="!changeForm.get('emailBis')!.valid && changeForm.get('emailBis')!.touched">
          Email is invalid
      </span>
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <p style = "font-size : .8em; font-style : italic"> Si vous ne de changez pas de mot de passe, merci tout de même le rentrer de nouveau. </p>
      <input type="password" id="password" name = "password" formControlName="password" class="form-control">
      <span class="help-block" style = "color: red;" *ngIf="!changeForm.get('password')!.valid && changeForm.get('password')!.touched">
        Mot de passe invalide : doit contenir au minimum 8 caractères dont 1 minuscule, 1 majuscule, 1 chiffre.
      </span>
    </div>

    <div class="form-group" >
      <label for="passwordBis">Vérification mot de passe</label>
      <input type="password" id="passwordBis" formControlName="passwordBis" class="form-control">
      <span class="help-block" style = "color: red;" *ngIf="!changeForm.get('passwordBis')!.valid && changeForm.get('passwordBis')!.touched">
        Password is invalid
      </span>
    </div>



    <div class = "form-group" style = "display: flex; flex-direction: column;">
      <label for="promotion">Promotion</label>
      <select formControlName="promotion" style = "width: 40%" class="form-control" (change) = "onChangePromotion()" >
        <option [ngValue]="null" disabled> {{promotion}} </option>
        <option *ngFor="let promotion of promotions" [ngValue]="promotion.value">
          {{ promotion.viewValue }}
        </option>
      </select> 
    </div>



 

    <!-- <div class="form-check">
      <input class="form-check-input" (click)="updateAcceptCharte()" type="checkbox" value="" id="acceptCharte">
      <label class="form-check-label" for="acceptCharte">
        J'ai lu et j'accepte la <a href="/assets/doc/Charte_VF.pdf" target="_blank">charte d'utilisation du réseau</a>
      </label>
    </div> -->
    <button class="btn btn-success" style="margin : 1%;" (click)="onChangeInfos()" [disabled]="changeForm.invalid"> Changer mes informations</button>
  </form>
</div>
