@import 'variables';

a {
  display: block;
  height: 100%;
  text-decoration: none; /* Assurez-vous qu'il n'y a pas de soulignement des liens */
}

.first-container {
  display: flex;
  justify-content: center;
}

.facade-img {
  width: 70vw;
}






.second-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.events-displayer {
  display: flex !important;
  justify-content: center !important;
  margin-top: 100px;
}

.events-container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.event-item {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-right: 1%;
  transition: flex 0.3s ease;
  cursor: pointer;
  height: 500px;
}

.event-item img {
  height: 500px !important;
  max-width: 70vw;
  width: fit-content;
}

.event-item:last-child {
  margin-right: 0;
}

.event-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
}

.first-event {
  flex: 4; /* L'élément sélectionné prend plus de place */
}

.first-event img {
  object-fit: contain; /* Image complète pour l'événement sélectionné */
}

.truncated-event img {
  object-fit: cover; /* Tronque l'image des événements non sélectionnés */
  height: 500px !important;
}

.event-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
}

.event-button:hover {
  background-color: #0056b3;
}

.placeholder-event {
  background-color: #ccc; /* Fond gris pour les événements manquants */
  color: white !important;
}


.placeholder-event .title {
  font-size: 1.2em;
  font-weight: bold;
}

.placeholder-event .details {
  font-size: 0.9em;
}

/* Styles pour le texte des événements */
.event-info {
  position: absolute;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
  color: white;
  display: none;
}



.event-item.selected .event-info {
  display: block; /* Afficher lorsque l'événement est sélectionné */
}


.other-events {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 50px;
}

/* Partie homepage statique */
.large-text {
  margin: 12vh auto;
  width: min(95vw, 530px);
}

h2 {
  text-transform: uppercase;
  color: $header-text-color;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0;
}

#calendar {
  margin: 20px auto 10vh auto;
  width: min(90vw, 740px);
}

#starsup-ad {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: black;
  padding-bottom: 5vh;
  img {
    width: min(500px, 100vw);
  }
}

/* Mobile */
@media screen and (max-width: $header-mobile-limit) {
  #next-event .title {
    font-size: 2.5em;
  }

  #next-event .details {
    text-align: left;
  }

  .event-container {
    height: $body-container-height-mobile;
  }
  #next-event img {
    min-height: $body-container-height-mobile;
  }

  .large-text {
    font-size: 1.5rem;
  }
}
