
<carousel  *ngIf = "eventExist" [height] = 600 [objectFit]="'cover'" [cellsToShow]=1.5 [counter]="true" [margin]=10>
    <div class = "carousel-cell" *ngFor = "let event of eventsToCome">

        <a id = "{{event.id}}" href = "{{event.link}}">
            <figure class="textover">
                <img alt = "{{event.title}}" src = "{{event.image}}">
                <figcaption> 
                    <p class = "title">{{event.title}} </p>
                    <p class = "details" >{{event.description}}</p>
                </figcaption>
            </figure>
        </a>
    </div>
</carousel>

<div *ngIf = "!eventExist" id = "noEventContainer">
    <img alt = "Salle vide" id = "noEvent" src = "../../assets/img/const/noEvent.jpg">

</div>>