@import 'variables';

a {
  display: block;
  height: 100%;
}

$container-height: calc(100vh - #{$header-height});
.event-container {
  height: $container-height;
  overflow: hidden;
}

#next-event {
  position: relative;
  height: 100%;
}

$max-img-width: 100vw;
#next-event img {
  min-width: 100vw;
  min-height: $container-height;
  //max-width: $max-img-width;
  overflow-x: hidden;
}

#next-event > div {
  background: $transparent-pink;
  color: white;
  text-decoration: none;
  position: absolute;
  padding: 20px;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

#next-event .title {
  font-weight: 600;
  font-size: 200%;
  margin-bottom: 10px;
  line-height: 30px;
}

#next-event .details {
  text-align: justify;
}

#no-event-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #222222;
}

#noEvent {
  width: 70%;
}
