<div *ngIf="eventExist" class="event-container">
  <a id="{{eventsToCome[0].id}}"
     [routerLink]=""
     (click)="onNavigate('events/display/' + eventsToCome[0].event_id )">
    <div id="next-event">
      <img alt="{{eventsToCome[0].title}}" src="{{eventsToCome[0].thumbnail}}"/>
      <div>
        <span class="title montserrat">{{eventsToCome[0].title.toUpperCase()}}</span>
        <span class="details">{{getEventShortInfos(eventsToCome[0])}}</span>
      </div>
    </div>
  </a>
</div>

<div *ngIf="!eventExist" id="no-event-container">
  <img alt="Salle vide" id="noEvent" src="/assets/img/const/noEvent.jpg">
</div>

<div id="homepage">
  <div class="large-text">
    Le <b>BDA</b> (Bureau des Arts) des Mines de Paris te fait profiter de la vie culturelle
    foisonnante de Paris : sorties, expos, théâtre, concerts… et bien plus encore !
  </div>
  <h2 class="montserrat">Prochains évènements</h2>
  <div id="calendar"></div>
</div>
