<h2 class="titre-page-registerForm"> Modification d'une billetterie </h2>

<div class="col-sm-8 offset-sm-2 mt-2">
  <p> Modification de l'évènement id : {{id}} créé par {{idcreator}} </p>

  <button class="btn btn-outline-danger" id="btn-before-redirection" (click) = onDelete()> Supprimer cette billetterie </button>
  <form [formGroup]="modifierForm">
    <div class="form-group">
      <label for="titre">Titre</label>
      <input type="text" id="titre" formControlName="titre" class="form-control" [(ngModel)] = "titre">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description" class="form-control" [(ngModel)] = description>
    </div>
    <div class="form-group">
        <label for="lieu">Date de l'évènement</label>
        <input type="datetime-local"
              formControlName = "date"
              id="date"
              [(ngModel)] = "completeDate"
              placeholder="yyyy-MM-ddTHH:mm:ss"
              [min]="date"
              class="form-control">
        
    </div>

    <div class="form-group">
      <label for="lieu">Lieu de l'évènement</label>
      <input type="text" id="lieu" formControlName="lieu" class="form-control" [(ngModel)] = "lieu">
     
    </div>

   

    <div class = "form-group">
      <label for = "image"> Vignette de l'évènement (image png ou jpg au format 4/3, sinon ça rend mal)</label>
      <input type = "file" accept = ".jpg,.jpeg,.png" (change)="fileChangedEvent($event)" id = "image" formControleName = "image" class = "form-control">
    </div>

    <div id = "imagePreview" *ngIf="filePath && filePath !== ''">
      <img [src]="filePath" [alt]="modifierForm.value.name">
    </div>

    <div class="form-group">
      <label for="Pole">Pole</label>
      <select formControlName="idPole" style = "width: 40%" class="form-control" >
        <option [ngValue] = "null" > {{idPole}} </option>
        <option *ngFor="let pole of poles" [ngValue]="pole.value">
          {{ pole.viewValue }}
        </option>
    </select> 
    </div>

    <div class="form-group" >
      <label for="dateOuverture">Date de l'ouverture de la billetterie</label>
      <input type="datetime-local" id="dateOuverture" formControlName="dateOuverture" [(ngModel)] = "completeDateOuverture"
      placeholder="yyyy-MM-ddTHH:mm:ss"
      [min]="date"
      class="form-control">
    </div>

    <div class="form-group" >
      <label for="dateFermeture">Date de fermeture de la billetterie</label>
      <input type="datetime-local" id="dateFermeture" formControlName="dateFermeture" [(ngModel)] = "completeDateFermeture"
      placeholder="yyyy-MM-ddTHH:mm:ss"
      [min]="date"
      class="form-control">
    </div>

    <div class="form-group" >
      <label for="nPlaces">Nombre de places</label>
      <input type="number" id="nPlaces" formControlName="nPlaces" class="form-control" [(ngModel)] = "nPlaces">
    </div>

    <div class="form-group" >
      <label for="prixC">Prix cotisants</label>
      <input type="number" id="prixC" formControlName="prixC" class="form-control" [(ngModel)] = "prixC">
    
    </div>

    <div class="form-group" >
      <label for="prixNC">Prix non cotisants</label>
      <input type="number" id="prixNC" formControlName="prixNC" class="form-control" [(ngModel)] = "prixNC">
    
    </div>

    <div class="form-group" >
      <label for="points">Nombre de points</label>
      <select type="number" id="points" formControlName="points" class="form-control" (change) = "onPointsChange()" >
        <option [ngValue]="null" disable>{{points}}</option>
        <option [ngValue] = 2> 2 </option>
        <option [ngValue] = 4> 4 </option>
        <option [ngValue] = 5> 5 </option>
      </select>
    
    </div>

    <div class="form-group" >
      <label>
        <input type="checkbox" id="sendMail" formControlName="sendMail" (click) = "onChangeMail()">
        Envoyer un mail aux personnes concernées par cette billetterie pour les prévenir qu'il y a eu des modifications
      </label>
    </div>

    <button class="btn btn-success" style="margin : 1%;" (click)="onModifyBilletterie()" [disabled]="modifierForm.invalid"> Modifier la billetterie </button>
  </form>
</div>
