.signal-response-registerForm{
    text-align: center; 
    width: 60%; 
    margin: 20px auto auto auto;
}

.titre-page-registerForm {
    border-bottom: solid; 
    padding: 0.5em; 
    width: 13em;
  }

#btn-before-redirection {
    text-align: center; 
    margin: 20px auto auto auto;
}

#imagePreview img{
    margin : 1vh;
    height: 24vh;
    width : 32vh;

}

// #imagePreview {}