<div class="mid-page-container">
  <h2 class="page-title">L'équipe</h2>
</div>

<div class="fw-img-wrapper">
  <img src="../../../assets/img/var/equipe_outdoor.jpg" alt="photo groupe BDA">
</div>

<div id="team-container" class="page-container">
  <div class="large-text">
    Réunissant plus de 40 étudiants motivés, le BDA est une grande famille !
  </div>

  <h3>Le bureau</h3>
  <div id="bureau-container">
    <div>
      <img src="../../../assets/img/var/bureau_blandine.jpg" alt="bureau">
      <div class="subtitle">
        <span>Blandine Geisler</span><span>Présidente</span>
      </div>
    </div>

    <div>
      <img src="../../../assets/img/var/bureau_guillaume.jpg" alt="burea">
      <div class="subtitle">
        <span>Guillaume Taret</span><span>Vice-président</span>
      </div>
    </div>

    <div>
      <img src="../../../assets/img/var/bureau_lucie.jpg" alt="burea">
      <div class="subtitle">
        <span>Lucie Tarazona</span><span>Secrétaire-Générale</span>
      </div>
    </div>

    <div>
      <img src="../../../assets/img/var/bureau_augustin.jpg" alt="burea">
      <div class="subtitle">
        <span>Augustin</span><span>Trésorier</span>
      </div>
    </div>

    <div>
      <img src="../../../assets/img/var/bureau_charlotte.jpg" alt="burea">
      <div class="subtitle">
        <span>Charlotte</span><span>Respo Com'</span>
      </div>
    </div>
  </div>

  <h3>Les pôles</h3>

  <div id="poles-container">
    <ng-container *ngFor="let poleID of keys().slice(1)">
      <div class="pole-img-container" *ngFor="let member of poles[poleID].members">
        <!-- TODO: this is a mess. We are progressively switching to portail IDs, which avoid this mess. -->
          <img src="{{'https://eleves.mines-paris.eu/static/img/trombi/' + member.login
          .replace('é', 'e')
          .replace('ç', 'c') + '.jpg'}}"
               appImgFallback="{{'https://eleves.mines-paris.eu/static/img/trombi/' + member.login.slice(0, 9) + member.prenom[0].toLowerCase() + '.jpg'}}"
               alt="Photo de profil"
               class="member-pic"/>

        <div class="nom">
          <span>{{member.prenom}} {{member.nom}}</span>
          <span>{{poles[poleID].name}}<br/>{{member.role}}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
