#container-requirement-form > div {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

select {
  max-width: 200px;
}

label {
  font-size: 1.2em;
  font-weight: 300;
  margin-right: 7px;
}

#container-form-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
