#requirementsForm {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.form-unit {
    display: flex; 
    justify-content: space-around;
    font-size: 150%;
    width: 20%;
}

.form-label {
    margin: auto 0 auto 0;
}

.form-input{
    width: 55%;
    margin: auto 0 auto 0;
}

.form-input-trimestre {
    width: 55%;
    margin: auto;
}

#container-requirement-form {
    padding: 1em; 
    width: 100%;
}

#container-form-btn {
    display : flex; 
    justify-content: space-around;
}