<div class="bda-fw-form">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="login"> Nom d'utilisateur</label>
      <input type="text" id="login" formControlName="login" class="form-control bda-input">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password" class="form-control bda-input">
    </div>
    <button class="btn btn-success bda-btn bda-btn-fill" (click)="onLogin()" [disabled]="loginForm.invalid"> Je me connecte</button>
    <div class="links">
      <a href="javascript:void(0)" (click)="onNavigate('/recover/demand')"> Mot de passe oublié ? </a>
      <a href="javascript:void(0)" (click)="onNavigate('/register/form')"> Créer mon compte </a>
    </div>
  </form>
</div>
