<h2 class="titre-page-recover"> Demande de réinitialisation de mot de passe </h2>

<div class="col-sm-8 offset-sm-2 mt-2">
  <form [formGroup]="demandPasswordForm">
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" id="login" formControlName="login" class="form-control">
    </div>
    <div class="form-group">
      <label for="email"> Adresse mail </label>
      <input type="text" id="email" formControlName="email" class="form-control">
    </div>

    <p id = "contactAdmin"> En cas de soucis, contactez un administrateur ou envoyez un mail à bda.rsi.minesparis@gmail.com </p>
    <button class="btn btn-success" (click)="onDemandSendEmail()" [disabled]="demandPasswordForm.invalid"> Envoi de mail de récupération </button>
  </form>
</div>