/// mobile variables

// header
$header-mobile-limit: 1000px;

// footer
$footer-mobile-limit: 850px;


// .large-text doesn't need a margin
@media (max-width: $header-mobile-limit) {
  .large-text {
    width: 100%;
    text-align: center;
  }
}
