@import 'fonts';
// @import 'common';

/// Variables
// header
$header-text-color: #072957;
$logo-height: 145px;
$logo-width: 250px;
$logo-height: 145px;
$logo-margin: auto;
$header-height: $logo-height;
$header-left-margin: 20px;
// body
$body-container-height: calc(100vh - #{$header-height});

// footer
$footer-height: 100px;
$footer-bg: #C3D5EC;
$footer-padding: 10px;
// home page
$transparent-pink: #c26dbc69;  // used for the text background on the image


/// fixes
// don't show border on FF while image is loading
img:-moz-loading {
  visibility: hidden;
}

// https://stackoverflow.com/questions/37906602/blurry-downscaled-images-in-chrome
// images are blurry when downscaled in chrome, here's the fix
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  img {
    image-rendering: -webkit-optimize-contrast !important;
  }
}
/* Unset for Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  img {
    image-rendering: unset !important;
  }
}}


/// general objects
.flex-filler { flex-grow: 1; }


/// general themes
.admin-btn {
  $admin-red: #df5656;
  background: $admin-red;
  border-color: $admin-red;
  &:hover {
    background: lighten($admin-red, 0.5);
    border: lighten($admin-red, 0.5);
  }
}

// inputs
.bda-input,
.bda-form input {
  background: white;
  border-width: 0 0 2px 0;
  border-color: $header-text-color;
  border-radius: 0;
  border-style: solid;
  padding-left: .3rem;
}


.bda-select,
.bda-form select {

}

// buttons
.bda-btn {
  outline: none;
  padding: 10px 25px;
  border: 3px solid $header-text-color;
  color: $header-text-color;
  border-radius: 0;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s ease;
}

.bda-btn:hover {
  background: $header-text-color;
  color: #fff;
}

.bda-btn:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.bda-btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
  -4px -4px 6px 0 rgba(116, 125, 136, .2),
  inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.bda-btn-fill {
  background-color: $header-text-color;
  color: white;
}

.bda-btn-fill:hover {
  background-color: white;
  color: $header-text-color;
}

.bda-btn:disabled {
  background-color: lighten($header-text-color, 10%);
  border-color: lighten($header-text-color, 10%);
  color: whitesmoke;
}

// title on pages
.page-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: normal;
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

// headings in general
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.large-text {
  width: 32vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  text-align: center;
  color: $header-text-color;
}

// page container
$page-side-margin: 10vw;
.page-container {
  margin: 20px $page-side-margin 10vh $page-side-margin;
}

// form
.bda-fw-form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  form .form-group {
    label {
      font-size: 1.3em;
      font-weight: 300;
    }
  }
}

.bda-fw-form-wide {
  width: 600px;
}
