<h2> <u>{{account?.login}}</u>  </h2>
<button id="modif_buttoon" class="btn btn-success" style="margin : 1%;" (click) = "onNavigate('account/modify')"> Modifier mes informations </button>


<div id="view-account-places" *ngFor="let place of account?.placesClaimed? account?.placesClaimed : []">
    <div class="card">
        <div class="card-body">
            <p [ngStyle]="{'color': colorAccordingToStatus(place.status)}"> Statut : {{textAccordingToStatus(place.status)}}</p>
        </div>
    </div>
    <app-event-quickview [event]="eventsWithPlaceClaimed[place.event_id]"></app-event-quickview>
</div>
