



<div class = "container">
    <a class = "event_link" href = "link">
        <div class = "thumbnail_container">
            <img id = "thumbnail" src = "image" alt = "given alt">
        </div>
        <div class = "text_container">
            <div class = titre_container>
                <h2 id = "title"> {{title}}</h2>
            </div>
            <div class = desc_container>
                <p id = "description"> {{description}}

                </p>
            </div>
        </div>
    </a>
</div>