<app-header></app-header>

<div style="display: block; min-height: 100vh;">
    <app-popup></app-popup>
    <div *ngIf="!loading">
        <router-outlet ></router-outlet>
    </div>
</div>

<app-footer></app-footer>

<!-- <app-event-quickview *ngFor = "let event of events"
                        [title] = "event.title"
                        [description] = "event.description"
                        [image] = "event.image"
                        [link] = "event.link"></app-event-quickview> -->