@import 'variables';

#main-view {
  width: 100%;
  min-height: $body-container-height;
}

@media (max-width: $header-mobile-limit) {
  #main-view {
    min-height: $body-container-height-mobile;
  }
}
