@import 'variables';

//.pole-container {
//  display: flex;
//  flex-direction: row;
//  margin-bottom: 25px;
//}
//
//.pole-name {
//  font-size: 1.5em;
//  font-weight: 800;
//  text-align: right;
//  width: 200px;
//  flex-shrink: 0;
//}
//
//.pole-members {
//  display: flex;
//  flex-direction: row;
//  gap: 30px;
//  margin-left: 30px;
//}
//
//.pole-members > div {
//  // individual member
//  text-align: center;
//}

#poles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nom {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  text-align:center;
  :first-child {
    font-size: 1.1rem;
    text-align: center;
    word-wrap: break-word;

  }
  :last-child {
    margin-top: -3px;
    font-size: 0.7rem;
  }
  font-family: "Montserrat", sans-serif;
}

img.member-pic {
  height: 160px;
  margin: auto;
  border: 2px solid $header-text-color;
}

