<mat-accordion >
    <mat-expansion-panel
        (opened)="panelOpenState = true" 
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"       
                                 [expandedHeight]="customExpandedHeight">
        <mat-panel-title>
          <p> Pole n°1 </p>
        </mat-panel-title>
        <mat-panel-description>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel
        (opened)="panelOpenState = true" 
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"       
                                 [expandedHeight]="customExpandedHeight">
        <mat-panel-title>
          <p> Pole n°2 </p>
        </mat-panel-title>
        <mat-panel-description>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
    <mat-expansion-panel
        (opened)="panelOpenState = true" 
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"       
                                 [expandedHeight]="customExpandedHeight">
        <mat-panel-title>
          <p> Pole n°3 </p>
        </mat-panel-title>
        <mat-panel-description>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
            <img src = '../../../assets/img/dev/profil_pic_test.jpg'>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel>
  </mat-accordion>