@import 'variables';

h4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#form-selector-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#form-selector-wrapper > div {
  border: 4px solid whitesmoke;
  padding: 5px 15px;
  background: whitesmoke;
}
#form-selector-wrapper > div:hover {
  cursor: pointer;
}

#form-selector-wrapper > div.selected {
  color: white;
  border: 4px solid $header-text-color;
  background: $header-text-color;
}
