@import 'variables';

.signal-response-registerForm{
    text-align: center;
    width: 60%;
    margin: 20px auto auto auto;
}

form {
  margin-bottom: 20vh;
}

#btn-before-redirection {
    text-align: center;
    margin: 20px auto auto auto;
}
