<h2 class="page-title">Inscription</h2>

<div id="form-selector-wrapper">
  <div (click)="onSwitchForm('simple')"
       [class.selected]="selectedForm == 'simple'">
    Simplifiée
  </div>
  <div (click)="onSwitchForm('legacy')"
       [class.selected]="selectedForm == 'legacy'">
    Classique
  </div>
</div>

<app-form-simplified [style.display]="selectedForm == 'simple' ? 'block' : 'none'"></app-form-simplified>

<app-form-legacy [style.display]="selectedForm == 'legacy' ? 'block' : 'none'"></app-form-legacy>
