.signal-response-changePWDForm{
    text-align: center; 
    width: 60%; 
    margin: 20px auto auto auto;
}

.titre-page-registerForm {
    border-bottom: solid; 
    padding: 0.5em; 
    width: 8em;
  }

#btn-before-redirection {
    text-align: center; 
    margin: 20px auto auto auto;
}