<!-- Crédit https://openbase.com/js/angular-calendar -->


<div class="row text-center calendar-container">
  <div class="col-md-3">
    <div class="calendar-controls">
      <!--class="btn btn-primary"-->
      <div
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        <i class="fa-solid fa-circle-chevron-left fa-fw"></i>
      </div>
      <div
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        <i class="fa-solid fa-house fa-fw"></i>
      </div>
      <div
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        <i class="fa-solid fa-circle-chevron-right fa-fw"></i>
      </div>
      <div class="flex-filler"></div>
    </div>
  </div>
  <div class="col-md-6">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
  </div>
  <div class="col-md-3">
    <div class="calendar-controls">
      <div class="flex-filler"></div>
      <div
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Mois
      </div>
      <div
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Semaine
      </div>
      <!--<div
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Jour
      </div>-->
    </div>
  </div>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    [weekStartsOn]=1
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-day-view>
</div>

<!--
<button id="createE_buttoon" class="btn btn-success" style="margin : 1%;" (click)="onNavigate('events/create')"> Créer
  un nouvel évènement
</button>-->
