@import 'variables';
@import 'fonts';

// spinner load
background-spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

mat-spinner {
  margin-left: 46.5%;
  margin-right: 46.5%;
  width: 150px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 20%;
}

mat-spinner circle {
  stroke-width: 5% !important;
  stroke: $header-text-color !important;
}


@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
// @import "~/font-awesome/css/font-awesome.css";
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "InterFace", serif;
}

body.fixed {
  height: 100%;
  overflow: hidden;
}

/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
