@import 'variables';

:host {
  margin-left: 4vh;
  margin-right: 4vh;
}

#no-events-container > h2 {
  text-align: center;
  font-size: 3em;
  line-height: 1em;
  color: rgb(53, 53, 53);
  margin-top: 3em;
}

#events-container {
  margin: 5vh auto 0 auto;
  max-width: 1000px;
}

#quickview-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-bottom: 50px;
}

.admin_options_container {
  text-align: center;
}

#results-count {
  margin: 10px auto;
  font-size: 0.8em;
  color: grey;
  text-align: center;
}

// Mobile
// TODO: we have to make a mobile-friendly
@media screen and (max-width: $header-mobile-limit) {
  app-billetterie-filter {
    visibility: hidden;
    display: none;
  }
}
