@import 'variables';

.masterclass-container {
  margin: 20px 15vw 10vh 15vw;
}

#masterclass-infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15vh 0 15vh 0;
  gap: 20px;
  justify-content: center;
}

#top-infos, #bottom-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    width: 33.333%;
  }
}

#top-infos {
  font-family: "Chloe", serif;
  font-size: 3.5rem;
  border-bottom: 3px solid lightgrey;
  color: $pink;
}

#top-infos > div {
  display: flex;
  align-items: flex-end;
}

#bottom-infos > div {
  display: flex;
  align-items: flex-start;
}

#bottom-infos {
  font-size: 1.3rem;
}

.semestre { text-align: left; justify-content: flex-start; }
.prix { text-align: center; justify-content: center; }
.materiel { text-align: right; justify-content: flex-end; }

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 20px;
  }
  margin-bottom: 30px;
}

@media screen and (max-width: $header-mobile-limit) {
  .masterclass-container {
    margin: 20px 20px 10vh 20px;
  }
  #masterclass-infos {
    flex-direction: row;
  }
  #top-infos {
    font-size: min(max(1.8rem, 8vw), 3rem);
    flex-direction: column;
    border-bottom: 0;
    div {
      width: auto;
      text-align: right;
      justify-content: flex-end;
    }
  }
  #bottom-infos {
    font-size: 1rem;
    flex-direction: column;
    div {
      width: auto;
      text-align: left;
      justify-content: flex-start;
    }
  }
  #masterclass-infos {
    margin-top: 7vh;
    margin-bottom: 7vh;
  }
}
