<h2 class="page-title">Masterclasses</h2>

<div class="masterclass-container">
  <div class="large-text">
    <p>Comme chaque année, le BDA vous propose plusieurs masterclasses ouvertes à tous les cotisants. Le but des masterclasses est de vous faire découvrir une activité artistique à un tarif préférentiel.</p>
  </div>

  <div id="masterclass-infos">
    <div id="top-infos">
      <div class="semestre">2 semestres</div>
      <div class="prix">20€</div>
      <div class="materiel">0</div>
    </div>
    <div id="bottom-infos">
      <div class="semestre">octobre - février<br/>mars-juin</div>
      <div class="prix">par semestre</div>
      <div class="materiel">matériel requis<br/>(sauf dessin)</div>
    </div>
  </div>

  <app-masterclass-quickview titre="théâtre"
                             places="15 places"
                             horaires="Mercredi de 19h à 21h"
                             prof="Professeur : Cédrick Lanoë"
                             photo="../../assets/img/const/masterclasse_theatre.jpg"></app-masterclass-quickview>

  <app-masterclass-quickview titre="dessin"
                             places="10 places"
                             horaires="Mercredi de 17h30 à 19h30"
                             prof="Professeur : Louis Debailleul"
                             photo="../../assets/img/const/masterclasse_dessin.png"
                             [reverse]=true></app-masterclass-quickview>

  <app-masterclass-quickview titre="chant"
                             places="9 places (10 au S2)"
                             horaires="Jeudi de 15h15 à 18h15 / 20 minutes par personne"
                             prof="Professeure : Nausicaa Passaris"
                             photo="../../assets/img/const/masterclasse_chant.jpg"></app-masterclass-quickview>
</div>
