<div class="masterclass-container">
  <h2 class="page-title">Masterclasses</h2>
  <div class="description-container">
    <p>Comme chaque année, le BDA vous propose plusieurs masterclasses ouvertes à tous les cotisants. Le but des masterclasses est de vous faire découvrir une activité artistique à un tarif préférentiel.</p>
    <p>Fonctionnement :</p>
    <ul>
      <li>Il y a deux semestres de cours. Le premier commence en novembre et
        termine en février. Le second va de mars à juin.</li>
      <li>Le tarif est de 40 euros pour l'année, 20 euros pour un semestre.</li>
      <li>Aucun matériel n'est requis, sauf pour le dessin.</li>
    </ul>
  </div>

  <div id="masterclass-infos">
    <div id="top-infos"></div>
    <div id="bottom-infos"></div>
  </div>

  <app-masterclass-quickview titre="théâtre"
                             places="15 places"
                             horaires="Lundi de 19h à 21h"
                             prof="Professeur : Cédrick Lanoë"
                             photo="../../assets/img/const/masterclasse_theatre.JPG"></app-masterclass-quickview>


  <app-masterclass-quickview titre="dessin"
                             places="10 places"
                             horaires="Mercredi de 17h30 à 19h30"
                             salle="(L213 - École des Mines)"
                             prof="Professeur : Louis Debailleul"
                             photo="../../assets/img/const/masterclasse_theatre.JPG"
                             [reverse]=true></app-masterclass-quickview>


  <app-masterclass-quickview titre="chant"
                             places="9 places (10 au S2)"
                             horaires="Jeudi de 15h à 18h / 20 minutes par personne"
                             salle="(L312 - École des Mines)"
                             prof="Professeure : Nausicaa Passaris"
                             photo="../../assets/img/const/masterclasse_theatre.JPG"></app-masterclass-quickview>
</div>
