<div class="masterclass-container">
  <h2 class="page-title">Masterclasses</h2>
  <div class="description-container">
    <p>Comme chaque année, le BDA vous propose plusieurs masterclasses ouvertes à tous les cotisants. Le but des masterclasses est de vous faire découvrir une activité artistique à un tarif préférentiel.</p>
    <p>Fonctionnement :</p>
    <ul>
      <li>Il y a deux semestres de cours. Le premier commence en novembre et
        termine en février. Le second va de mars à juin.</li>
      <li>Le tarif est de 40 euros pour l'année, 20 euros pour un semestre.</li>
      <li>Aucun matériel n'est requis, sauf pour le dessin.</li>
    </ul>
  </div>
  <div class="single-masterclass">
    <div class="thumbnail-container"><img src="../../assets/img/const/masterclasse_theatre.JPG"
              alt="masterclass théâtre"/>
    </div>
    <div class="description-container">
      <h3>Théâtre</h3>
      <p>La masterclass de théâtre propose une représentation pour tous les mineurs en fin d’année.
      Au menu : un concentré d’émotions, de technique… et de fous-rires !</p>
      <ul>
        <li>15 places</li>
        <li>Horaires : Lundi de 19h à 21h</li>
        <li>Professeur : Cédrick Lanoë</li>
      </ul>
    </div>
    <div class="flex-filler"></div>
  </div>
  <div class="single-masterclass reverse">
    <div class="thumbnail-container"><img src="../../assets/img/const/masterclasse_theatre.JPG"
                                          alt="masterclass théâtre"/>
    </div>
    <div class="description-container">
      <h3>Dessin</h3>
      <p></p>
      <ul>
        <li>10 places</li>
        <li>Horaires : Mercredi de 17h30 à 19h30 (L213 - École des Mines)</li>
        <li>Professeur : Louis Debailleul</li>
      </ul>
    </div>
    <div class="flex-filler"></div>
  </div>
  <div class="single-masterclass">
    <div class="thumbnail-container"><img src="../../assets/img/const/masterclasse_theatre.JPG"
                                          alt="masterclass théâtre"/>
    </div>
    <div class="description-container">
      <h3>Chant</h3>
      <p></p>
      <ul>
        <li>9 places (10 places au second semestre)</li>
        <li>Horaires : Jeudi de 15h à 18h / 20 minutes par personne (L312 - École des Mines)</li>
        <li>Professeure : Nausicaa Passaris</li>
      </ul>
    </div>
    <div class="flex-filler"></div>
  </div>
</div>
