<div class="container">
  <div class="thumbnail-container">
    <img id="thumbnail" [src]="event.thumbnail" alt="event thumbnail">
    <div id="thumbnail-date">
      <div class="flex-filler"></div>
      <div>{{getEventMonthStr(event.dateEvent)}}</div>
      <div>{{getEventDay(event.dateEvent)}}</div>
      <div class="flex-filler"></div>
    </div>
  </div>

  <div class="text-container">
    <div class="title-container montserrat">
      <h2 id="title">{{event.title.toUpperCase()}}</h2>
    </div>

    <ng-container *ngIf="!reducedLayout">
      <div class="info-container">
        <i class="fa-solid fa-clock fa-fw"></i>
        {{event.dateEvent | date: 'HH:mm'}}
        <span *ngIf="event.dateEvent_end !== undefined"> - {{event.dateEvent_end | date: 'HH:mm'}}</span>
      </div>
      <div class="info-container">
        <i class="fa-solid fa-location-dot fa-fw"></i>
        {{event.event_place}}
      </div>

      <div class="info-container" [ngClass]="{'open': event.on_sale, 'closed': !notYet && !event.on_sale}">
        <i class="fa-solid fa-ticket fa-fw"></i>
        <ng-container *ngIf="event.on_sale">
          La billeterie est ouverte !
        </ng-container>
        <ng-container  *ngIf="notYet && !event.on_sale">
          Ouverture de la billetterie: {{(event.date_open | date: 'dd/MM/yyyy')}}
        </ng-container>
        <ng-container *ngIf="!notYet && !event.on_sale">
          La billetterie est fermée
        </ng-container>
      </div>
    </ng-container>

    <div class="flex-filler"></div>

    <button (click)="onNavigate('events/display/' + event.event_id )"
            class="bda-btn">
      <ng-container *ngIf="event.on_sale">
        Réserver ma place <i class="fa-solid fa-arrow-right"></i>
      </ng-container>
      <ng-container *ngIf="!event.on_sale">
        Voir les détails <i class="fa-solid fa-arrow-right"></i>
      </ng-container>
    </button>
  </div>
</div>
