$quickview-height: 30vw;
$quickview-width: 95vw;


.container {
    border: 1px solid black;
    margin: 0 auto 4vh auto;
    padding : 0;
    max-width: $quickview-width;
    max-height : $quickview-height
}


.container a {
    display : flex;
    flex-direction: row;
    color : black;
    text-decoration: None;
    max-width: $quickview-width;
    max-height : $quickview-height
}

.thumbnail_container {
    max-width: 50%;
    min-height : 100% !important;
    max-height : 100%
}

#thumbnail {
    max-width:100%;
    min-height : 100% !important;
    max-height : 100%
}

.text_container {
    display : flex;
    flex-direction: column;
    max-height : 100%;
    max-width : 50%;
    margin-left : 5%;
    margin-right : 2%
}

.desc_container {
    max-width: 100%;
    max-height: 100%;
    overflow : hidden;
}

#titre, #description {
    color :black;
    
}

#title {
    margin-top : .5vmin;
    margin-bottom : 1vmin
}

h2 {
    font-size : 3.5vmax;
    line-height: 4vmax;
}

p {
    font-size : 2.5vmax;
    line-height : 2.5vmax
}


// $font-size: 1em;
// $line-height: 1.5em;
// $lines-to-show: 3;

//$font-size*$line-height*$lines-to-show//

// display: block; /* Fallback for non-webkit */
//     display: -webkit-box;
//     max-width: 90%;
//     height: 100%; /* Fallback for non-webkit */
//     margin: 0 auto;
//     font-size: $font-size;
//     line-height: $line-height;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;


#description {
    max-height : $quickview-height;
    overflow : hidden;
    
    
}

a {
    cursor : pointer
}