



<div class = "container">
    <a class = "event_link" (click) = "onNavigate('events/display/' + event.event_id )">
        <div class = "thumbnail_container">
            <img id = "thumbnail" [src] = "event.thumbnail" alt = "event thumbnail">
        </div>
        <div class = "text_container">
            <div class = titre_container>
                <h2 id = "title"> {{event.title}}</h2>
            </div>
            <div class = desc_container>
                <p id = "description"> {{event.description}}

                </p>
            </div>
        </div>
    </a>
</div>